@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Default: Mobile first */
.text-stroke {
  -webkit-text-stroke: 4px black;
  color: white;
}

.text-stroke-orange {
  -webkit-text-stroke: 6px #EE6826;
  color: #EE6826;
}

/* Medium screens (md) */
@media (min-width: 768px) {
  .text-stroke {
    -webkit-text-stroke: 5px black;
  }

  .text-stroke-orange {
    -webkit-text-stroke: 8px #EE6826;
  }
}


@keyframes marquee {
  0% {
    transform: translateX(0); /* Starts at the left */
  }
  100% {
    transform: translateX(-80%); /* Moves to the left by the width of the text */
  }
}

.marquee-container {
  display: flex;
  width: 100%; /* Full width of the page */
  position: relative;
}

.animate-marquee {
  animation: marquee 14s linear infinite; /* Adjust the duration for desired speed */
}

.marquee-text {
  white-space: nowrap;
  padding-right: 6px; /* Optional padding between texts */
  flex-shrink: 0; /* Prevent shrinking of the text */
}


.marquee {
  display: flex;
  flex-direction: column; /* Stacks the tracks vertically */
  position: relative;
  width: 100%; /* Ensures the container takes up the full width */
  height: 100px; /* You can adjust this height to your preference */
}

.marquee__track {
  display: flex;
  width: 100%; /* Ensures the track takes up the full width */
}

/* First scrolling text to the right */
.marquee__track.to-right {
  animation: scroll-right 30s linear infinite;
}

/* Second scrolling text to the left */
.marquee__track.to-left {
  animation: scroll-left 30s linear infinite;
}

.marquee__text {
  display: flex;
  justify-content: space-between; /* Space between "FRANKIE C"s */
  padding-right: 20px;
  white-space: nowrap; /* Keeps the text in a single line */
}

.frankie {
  margin-right: 100px; /* Adjust this value for the space between each "FRANKIE C" */
  white-space: nowrap;
  font-size: 6.5rem;
  font-weight: bold;
  height: 145px;
}

.brownie { 
 color:#F8F0E3;
 -webkit-text-stroke: 3px black; /* Black outline with 2px thickness */
}

/* Keyframes for scrolling to the right */
@keyframes scroll-right {
  0% {
    transform: translateX(0%); /* Starts fully off-screen to the right */
  }
  100% {
    transform: translateX(-90%); /* Ends fully off-screen to the left */
  }
}

/* Keyframes for scrolling to the left */
@keyframes scroll-left {
  0% {
    transform: translateX(-90%); /* Starts fully off-screen to the left */
  }
  100% {
    transform: translateX(0%); /* Ends fully off-screen to the right */
  }
}


 @keyframes float1 {
  0% {
    transform: translateY(0);

  }
  50% {
    transform: translateY(-40px);

  }
  100% {
    transform: translateY(0);

  }
}

@keyframes float2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes float3 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes float4 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(0);
  }
} 

.floating-suit-1 {
  position: absolute;
  width: 80px;
  animation: float1 4.5s ease-in-out infinite;
}

.floating-suit-2 {
  position: absolute;
  width: 80px;

  animation: float2 6s ease-in-out infinite alternate;
}

.floating-suit-3 {
  position: absolute;
  width: 80px;

  animation: float3 5.2s ease-in-out infinite alternate-reverse;
}


.floating-suit-4 {
  position: absolute;
  width: 80px;
  animation: float4 5.2s ease-in-out infinite alternate-reverse;
}
